﻿@*@model IEnumerable<CicleSalesSystem.Application.DTO.CicleSaleSystem.ProductDTO>*@
@*@model CicleSalesSystem.Transversal.Common.Response.ApiResponse<CicleSalesSystem.Application.DTO.CicleSaleSystem.ProductDTO>*@
@model IEnumerable<CicleSalesSystem.Application.DTO.CicleSaleSystem.ProductDTO> 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
